.para-text{
    color: #8c8a83e3;
}
.btn-brand {
    font-size: 17px;
    background: linear-gradient(to right, #e70d3b, tomato);
    color: white;
    border-radius: 30px;
    padding: 12px 23px;
    border: none;
    outline: none;
    transition: background 3.5s color 0.5s;
}
.btn-brand:hover{
    background: linear-gradient(to right, salmon, rgb(240, 20, 86))!important;
    color: white;
}
h5{
    color: #e70d3b;
}
.simple-text{
    color: #e70d3b;
}